<h1>Order Details: </h1>

<h2>Vendor: @Model["vendor"].Name</h2>
<h4>Order Title: @Model["order"].Title</h4>
<h4>Order Description: @Model["order"].Description</h4>
<h4>Order Price: @Model["order"].Price</h4>
<h4>Order Date: @Model["order"].Date</h4>


<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>